body {
    background-image: url(imagenes/00.jpg);
}

header {
    height: 320px;
    background-image: url(imagenes/cover-page.jpg);
    background-size: 100%;
    background-position-y: -150px;
}

footer {
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    height: 40px;
    color: white;
    background-color: black;
}

#logo {
    width: 300px;
    margin-top: 20px;
}

h1 {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120px;
    color: rgb(34, 65, 148);
    position: absolute;
    left: 180px;
    top: 190px;
    text-shadow: 3px 2px 2px white, 6px 1px 2px #D03131;
}

.container {
    background-color: white;
    font-family: cursive;
    border-radius: 6px;
}

.contact {
    text-shadow: 3px 1px 2px blue;
    position: absolute;
    font-size: 30px;
    font-family: cursive;
    top: 270px;
    right: 20px;
}

#article {
    display: inline-table;
    width: 580px;
    font-size: 18px;
}

#table1 {
    display: inline-table;
    font-size: 20px;
    margin-left: 50px;
    text-align: center;
}

#table2, #table3 {
    margin-top: 40px;
    display: inline-table;
    margin-inline-end: 21px;
}